In [2]:
import pandas as pd

In [3]:
#reading it to a dataframe df
df = pd.read_csv('mtcars2.csv')
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
df.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
df.tail()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        29 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [7]:
df.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [8]:
df.mpg = df["mpg"].astype(int)
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [9]:
df.isnull().sum()

S.No          0
Unnamed: 1    0
mpg           0
cyl           0
disp          0
hp            0
drat          0
wt            0
qsec          3
vs            0
am            0
gear          0
carb          0
dtype: int64

In [10]:
df=df.rename(columns={"Unnamed: 1":"Car Names"})

In [11]:
df.qsec.mean()

17.6748275862069

In [12]:
df.qsec.fillna(df.qsec.mean(),inplace=True)

In [13]:
df.drop(columns = ['S.No'], inplace = True)
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2
5,Valiant,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1
6,Duster 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2
9,Merc 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

In [14]:
#checking correlation
df.corr()

C:\Users\SUDARSHAN PANDEY\AppData\Local\Temp\ipykernel_16292\104011540.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.849738,-0.849477,-0.776708,0.678829,-0.870706,0.346831,0.655018,0.604346,0.480270,-0.545748
cyl,-0.849738,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.548775,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.849477,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.385207,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776708,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.650674,-0.723097,-0.243204,-0.125704,0.749812
drat,0.678829,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.120175,0.440278,0.712711,0.699610,-0.090790
wt,-0.870706,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.130362,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.346831,-0.548775,-0.385207,-0.650674,0.120175,-0.130362,1.000000,0.667873,-0.271763,-0.203784,-0.573987
vs,0.655018,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.667873,1.000000,0.168345,0.206023,-0.569607
am,0.604346,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.271763,0.168345,1.000000,0.794059,0.057534
gear,0.480270,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.203784,0.206023,0.794059,1.000000,0.274073
carb,-0.545748,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.573987,-0.569607,0.057534,0.274073,1.000000

In [15]:
df[4:20] [['mpg','cyl','disp']]

    mpg  cyl   disp
4    18    8  360.0
5    18    6  225.0
6    14    8  360.0
7    24    4  146.7
8    22    4  140.8
9    19    6  167.6
10   17    6  167.6
11   16    8  275.8
12   17    8  275.8
13   15    8  275.8
14   10    8  472.0
15   10    8  460.0
16   14    8  440.0
17   32    4   78.7
18   30    4   75.7
19   33    4   71.1

In [16]:
df.iloc[4:20,2:5]

    cyl   disp   hp
4     8  360.0  175
5     6  225.0  105
6     8  360.0  245
7     4  146.7   62
8     4  140.8   95
9     6  167.6  123
10    6  167.6  123
11    8  275.8  180
12    8  275.8  180
13    8  275.8  180
14    8  472.0  205
15    8  460.0  215
16    8  440.0  230
17    4   78.7   66
18    4   75.7   52
19    4   71.1   65

In [17]:
df.loc[4:20,'mpg':'disp']

    mpg  cyl   disp
4    18    8  360.0
5    18    6  225.0
6    14    8  360.0
7    24    4  146.7
8    22    4  140.8
9    19    6  167.6
10   17    6  167.6
11   16    8  275.8
12   17    8  275.8
13   15    8  275.8
14   10    8  472.0
15   10    8  460.0
16   14    8  440.0
17   32    4   78.7
18   30    4   75.7
19   33    4   71.1
20   21    4  120.1

In [18]:
df['pm']=[i for i in range(0,32)]
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.460000,0,1,4,4,0
1,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.020000,0,1,4,4,1
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,1,4,1,2
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1,3
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2,4
5,Valiant,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1,5
6,Duster 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4,6
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
9,Merc 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4,9
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4,10
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3,11
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3,12
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3,13
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4,14
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4,15
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4,16
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,1,4,1,17
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,1,4,2,18
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,1,4,1,19
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2,21
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2,22
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4,23
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2,24
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,1,4,1,25
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,1,5,2,26
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,1,5,2,27
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.500000,0,1,5,4,28
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.500000,0,1,5,6,29
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.600000,0,1,5,8,30
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,1,4,2,31

In [19]:
df.columns

Index(['Car Names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb', 'pm'],
      dtype='object')

In [20]:
df.index

RangeIndex(start=0, stop=32, step=1)

In [21]:
df.sort_values(by='cyl',ascending = True, inplace= True)
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,1,4,2,31
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,1,4,1,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,1,5,2,27
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,1,5,2,26
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,1,4,1,25
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,1,4,1,19
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,1,4,2,18
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,1,4,1,17
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.500000,0,1,5,6,29
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.460000,0,1,4,4,0
1,Mazda RX4 Wag,21,6,160.0,110,3.90,2.875,17.020000,0,1,4,4,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1,3
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4,10
9,Merc 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4,9
5,Valiant,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1,5
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3,13
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.500000,0,1,5,4,28
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2,24
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4,23
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2,22
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2,21
6,Duster 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4,6
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3,11
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4,16
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.600000,0,1,5,8,30
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4,14
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3,12
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4,15

In [22]:
#filling values
df.at[1,'mpg'] = 17 
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,1,4,2,31
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,1,4,1,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,1,5,2,27
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,1,5,2,26
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,1,4,1,25
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,1,4,1,19
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,1,4,2,18
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,1,4,1,17
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.500000,0,1,5,6,29
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.460000,0,1,4,4,0
1,Mazda RX4 Wag,17,6,160.0,110,3.90,2.875,17.020000,0,1,4,4,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1,3
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4,10
9,Merc 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4,9
5,Valiant,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1,5
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3,13
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.500000,0,1,5,4,28
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2,24
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4,23
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2,22
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2,21
6,Duster 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4,6
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3,11
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4,16
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.600000,0,1,5,8,30
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4,14
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3,12
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4,15

In [23]:
#Boolean Indexing
df.cyl==4

31     True
2      True
27     True
26     True
25     True
20     True
7      True
8      True
19     True
18     True
17     True
29    False
0     False
1     False
3     False
10    False
9     False
5     False
13    False
28    False
4     False
24    False
23    False
22    False
21    False
6     False
11    False
16    False
30    False
14    False
12    False
15    False
Name: cyl, dtype: bool

In [24]:
#filtering
df[(df.cyl==4)]

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,1,4,2,31
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,1,4,1,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,1,5,2,27
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,1,5,2,26
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,1,4,1,25
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,1,4,1,19
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,1,4,2,18
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,1,4,1,17

In [25]:
df[df['Car Names'].isin(['Lotus Europa','Merc 240D'])]

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.9,1,1,5,2,27
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.0,1,0,4,2,7

In [26]:
f = lambda x: x*2

In [27]:
df['am'] = df['am'].apply(f)
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,Volvo 142E,21,4,121.0,109,4.11,2.780,18.600000,1,2,4,2,31
2,Datsun 710,22,4,108.0,93,3.85,2.320,18.610000,1,2,4,1,2
27,Lotus Europa,30,4,95.1,113,3.77,1.513,16.900000,1,2,5,2,27
26,Porsche 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,2,5,2,26
25,Fiat X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,2,4,1,25
20,Toyota Corona,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
7,Merc 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,Merc 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
19,Toyota Corolla,33,4,71.1,65,4.22,1.835,19.900000,1,2,4,1,19
18,Honda Civic,30,4,75.7,52,4.93,1.615,18.520000,1,2,4,2,18
17,Fiat 128,32,4,78.7,66,4.08,2.200,17.674828,1,2,4,1,17
29,Ferrari Dino,19,6,145.0,175,3.62,2.770,15.500000,0,2,5,6,29
0,Mazda RX4,21,6,160.0,110,3.90,2.620,16.460000,0,2,4,4,0
1,Mazda RX4 Wag,17,6,160.0,110,3.90,2.875,17.020000,0,2,4,4,1
3,Hornet 4 Drive,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1,3
10,Merc 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4,10
9,Merc 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4,9
5,Valiant,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1,5
13,Merc 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3,13
28,Ford Pantera L,15,8,351.0,264,4.22,3.170,14.500000,0,2,5,4,28
4,Hornet Sportabout,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2,4
24,Pontiac Firebird,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2,24
23,Camaro Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4,23
22,AMC Javelin,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2,22
21,Dodge Challenger,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2,21
6,Duster 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4,6
11,Merc 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3,11
16,Chrysler Imperial,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4,16
30,Maserati Bora,15,8,301.0,335,3.54,3.570,14.600000,0,2,5,8,30
14,Cadillac Fleetwood,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4,14
12,Merc 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3,12
15,Lincoln Continental,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4,15

In [28]:
f = lambda x : x.upper()

In [29]:
df['Car Names'] = df['Car Names'].apply(f)
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,VOLVO 142E,21,4,121.0,109,4.11,2.780,18.600000,1,2,4,2,31
2,DATSUN 710,22,4,108.0,93,3.85,2.320,18.610000,1,2,4,1,2
27,LOTUS EUROPA,30,4,95.1,113,3.77,1.513,16.900000,1,2,5,2,27
26,PORSCHE 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,2,5,2,26
25,FIAT X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,2,4,1,25
20,TOYOTA CORONA,21,4,120.1,97,3.70,2.465,20.010000,1,0,3,1,20
7,MERC 240D,24,4,146.7,62,3.69,3.190,20.000000,1,0,4,2,7
8,MERC 230,22,4,140.8,95,3.92,3.150,22.900000,1,0,4,2,8
19,TOYOTA COROLLA,33,4,71.1,65,4.22,1.835,19.900000,1,2,4,1,19
18,HONDA CIVIC,30,4,75.7,52,4.93,1.615,18.520000,1,2,4,2,18
17,FIAT 128,32,4,78.7,66,4.08,2.200,17.674828,1,2,4,1,17
29,FERRARI DINO,19,6,145.0,175,3.62,2.770,15.500000,0,2,5,6,29
0,MAZDA RX4,21,6,160.0,110,3.90,2.620,16.460000,0,2,4,4,0
1,MAZDA RX4 WAG,17,6,160.0,110,3.90,2.875,17.020000,0,2,4,4,1
3,HORNET 4 DRIVE,21,6,258.0,110,3.08,3.215,19.440000,1,0,3,1,3
10,MERC 280C,17,6,167.6,123,3.92,3.440,18.900000,1,0,4,4,10
9,MERC 280,19,6,167.6,123,3.92,3.440,18.300000,1,0,4,4,9
5,VALIANT,18,6,225.0,105,2.76,3.460,17.674828,1,0,3,1,5
13,MERC 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,0,3,3,13
28,FORD PANTERA L,15,8,351.0,264,4.22,3.170,14.500000,0,2,5,4,28
4,HORNET SPORTABOUT,18,8,360.0,175,3.15,3.440,17.020000,0,0,3,2,4
24,PONTIAC FIREBIRD,19,8,400.0,175,3.08,3.845,17.050000,0,0,3,2,24
23,CAMARO Z28,13,8,350.0,245,3.73,3.840,15.410000,0,0,3,4,23
22,AMC JAVELIN,15,8,304.0,150,3.15,3.435,17.300000,0,0,3,2,22
21,DODGE CHALLENGER,15,8,318.0,150,2.76,3.520,16.870000,0,0,3,2,21
6,DUSTER 360,14,8,360.0,245,3.21,3.570,15.840000,0,0,3,4,6
11,MERC 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,0,3,3,11
16,CHRYSLER IMPERIAL,14,8,440.0,230,3.23,5.345,17.420000,0,0,3,4,16
30,MASERATI BORA,15,8,301.0,335,3.54,3.570,14.600000,0,2,5,8,30
14,CADILLAC FLEETWOOD,10,8,472.0,205,2.93,5.250,17.980000,0,0,3,4,14
12,MERC 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,0,3,3,12
15,LINCOLN CONTINENTAL,10,8,460.0,215,3.00,5.424,17.820000,0,0,3,4,15

In [30]:
def addition(x):

    return x+2

In [31]:
df['am'] = df['am'].apply(addition)
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,VOLVO 142E,21,4,121.0,109,4.11,2.780,18.600000,1,4,4,2,31
2,DATSUN 710,22,4,108.0,93,3.85,2.320,18.610000,1,4,4,1,2
27,LOTUS EUROPA,30,4,95.1,113,3.77,1.513,16.900000,1,4,5,2,27
26,PORSCHE 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,4,5,2,26
25,FIAT X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,4,4,1,25
20,TOYOTA CORONA,21,4,120.1,97,3.70,2.465,20.010000,1,2,3,1,20
7,MERC 240D,24,4,146.7,62,3.69,3.190,20.000000,1,2,4,2,7
8,MERC 230,22,4,140.8,95,3.92,3.150,22.900000,1,2,4,2,8
19,TOYOTA COROLLA,33,4,71.1,65,4.22,1.835,19.900000,1,4,4,1,19
18,HONDA CIVIC,30,4,75.7,52,4.93,1.615,18.520000,1,4,4,2,18
17,FIAT 128,32,4,78.7,66,4.08,2.200,17.674828,1,4,4,1,17
29,FERRARI DINO,19,6,145.0,175,3.62,2.770,15.500000,0,4,5,6,29
0,MAZDA RX4,21,6,160.0,110,3.90,2.620,16.460000,0,4,4,4,0
1,MAZDA RX4 WAG,17,6,160.0,110,3.90,2.875,17.020000,0,4,4,4,1
3,HORNET 4 DRIVE,21,6,258.0,110,3.08,3.215,19.440000,1,2,3,1,3
10,MERC 280C,17,6,167.6,123,3.92,3.440,18.900000,1,2,4,4,10
9,MERC 280,19,6,167.6,123,3.92,3.440,18.300000,1,2,4,4,9
5,VALIANT,18,6,225.0,105,2.76,3.460,17.674828,1,2,3,1,5
13,MERC 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,2,3,3,13
28,FORD PANTERA L,15,8,351.0,264,4.22,3.170,14.500000,0,4,5,4,28
4,HORNET SPORTABOUT,18,8,360.0,175,3.15,3.440,17.020000,0,2,3,2,4
24,PONTIAC FIREBIRD,19,8,400.0,175,3.08,3.845,17.050000,0,2,3,2,24
23,CAMARO Z28,13,8,350.0,245,3.73,3.840,15.410000,0,2,3,4,23
22,AMC JAVELIN,15,8,304.0,150,3.15,3.435,17.300000,0,2,3,2,22
21,DODGE CHALLENGER,15,8,318.0,150,2.76,3.520,16.870000,0,2,3,2,21
6,DUSTER 360,14,8,360.0,245,3.21,3.570,15.840000,0,2,3,4,6
11,MERC 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,2,3,3,11
16,CHRYSLER IMPERIAL,14,8,440.0,230,3.23,5.345,17.420000,0,2,3,4,16
30,MASERATI BORA,15,8,301.0,335,3.54,3.570,14.600000,0,4,5,8,30
14,CADILLAC FLEETWOOD,10,8,472.0,205,2.93,5.250,17.980000,0,2,3,4,14
12,MERC 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,2,3,3,12
15,LINCOLN CONTINENTAL,10,8,460.0,215,3.00,5.424,17.820000,0,2,3,4,15

In [32]:
df.min()

Car Names    AMC JAVELIN
mpg                   10
cyl                    4
disp                71.1
hp                    52
drat                2.76
wt                 1.513
qsec                14.5
vs                     0
am                     2
gear                   3
carb                   1
pm                     0
dtype: object

In [33]:
df.shape

(32, 13)

In [34]:
df.median()

C:\Users\SUDARSHAN PANDEY\AppData\Local\Temp\ipykernel_16292\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

mpg      18.500000
cyl       6.000000
disp    196.300000
hp      123.000000
drat      3.695000
wt        3.325000
qsec     17.637414
vs        0.000000
am        2.000000
gear      4.000000
carb      2.000000
pm       15.500000
dtype: float64

In [35]:
df.std()

C:\Users\SUDARSHAN PANDEY\AppData\Local\Temp\ipykernel_16292\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

mpg       6.010408
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.692055
vs        0.504016
am        0.997982
gear      0.737804
carb      1.615200
pm        9.380832
dtype: float64

In [36]:
df

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,pm
31,VOLVO 142E,21,4,121.0,109,4.11,2.780,18.600000,1,4,4,2,31
2,DATSUN 710,22,4,108.0,93,3.85,2.320,18.610000,1,4,4,1,2
27,LOTUS EUROPA,30,4,95.1,113,3.77,1.513,16.900000,1,4,5,2,27
26,PORSCHE 914-2,26,4,120.3,91,4.43,2.140,16.700000,0,4,5,2,26
25,FIAT X1-9,27,4,79.0,66,4.08,1.935,17.674828,1,4,4,1,25
20,TOYOTA CORONA,21,4,120.1,97,3.70,2.465,20.010000,1,2,3,1,20
7,MERC 240D,24,4,146.7,62,3.69,3.190,20.000000,1,2,4,2,7
8,MERC 230,22,4,140.8,95,3.92,3.150,22.900000,1,2,4,2,8
19,TOYOTA COROLLA,33,4,71.1,65,4.22,1.835,19.900000,1,4,4,1,19
18,HONDA CIVIC,30,4,75.7,52,4.93,1.615,18.520000,1,4,4,2,18
17,FIAT 128,32,4,78.7,66,4.08,2.200,17.674828,1,4,4,1,17
29,FERRARI DINO,19,6,145.0,175,3.62,2.770,15.500000,0,4,5,6,29
0,MAZDA RX4,21,6,160.0,110,3.90,2.620,16.460000,0,4,4,4,0
1,MAZDA RX4 WAG,17,6,160.0,110,3.90,2.875,17.020000,0,4,4,4,1
3,HORNET 4 DRIVE,21,6,258.0,110,3.08,3.215,19.440000,1,2,3,1,3
10,MERC 280C,17,6,167.6,123,3.92,3.440,18.900000,1,2,4,4,10
9,MERC 280,19,6,167.6,123,3.92,3.440,18.300000,1,2,4,4,9
5,VALIANT,18,6,225.0,105,2.76,3.460,17.674828,1,2,3,1,5
13,MERC 450SLC,15,8,275.8,180,3.07,3.780,18.000000,0,2,3,3,13
28,FORD PANTERA L,15,8,351.0,264,4.22,3.170,14.500000,0,4,5,4,28
4,HORNET SPORTABOUT,18,8,360.0,175,3.15,3.440,17.020000,0,2,3,2,4
24,PONTIAC FIREBIRD,19,8,400.0,175,3.08,3.845,17.050000,0,2,3,2,24
23,CAMARO Z28,13,8,350.0,245,3.73,3.840,15.410000,0,2,3,4,23
22,AMC JAVELIN,15,8,304.0,150,3.15,3.435,17.300000,0,2,3,2,22
21,DODGE CHALLENGER,15,8,318.0,150,2.76,3.520,16.870000,0,2,3,2,21
6,DUSTER 360,14,8,360.0,245,3.21,3.570,15.840000,0,2,3,4,6
11,MERC 450SE,16,8,275.8,180,3.07,4.070,17.400000,0,2,3,3,11
16,CHRYSLER IMPERIAL,14,8,440.0,230,3.23,5.345,17.420000,0,2,3,4,16
30,MASERATI BORA,15,8,301.0,335,3.54,3.570,14.600000,0,4,5,8,30
14,CADILLAC FLEETWOOD,10,8,472.0,205,2.93,5.250,17.980000,0,2,3,4,14
12,MERC 450SL,17,8,275.8,180,3.07,3.730,17.600000,0,2,3,3,12
15,LINCOLN CONTINENTAL,10,8,460.0,215,3.00,5.424,17.820000,0,2,3,4,15